certifi
charset-normalizer
click
firebase-admin
gcloud
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-storage
googleapis-common-protos
grpcio
idna
oauth2client
pyasn1
pyasn1-modules
pyrebase4
requests
requests-toolbelt
rsa
six
streamlit
streamlit-lottie
urllib3
